<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Interpreter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Interpreter.Properties.Settings>
            <setting name="EmpfangeneFrameID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EmpfangeneFrameLänge" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EmpfangenerFrameExitcode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EmpfangeneFrameIDEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmpfangeneFrameLängeEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmpfangenerFrameExitcodeEnable" serializeAs="String">
                <value>False</value>
            </setting>
        </Interpreter.Properties.Settings>
    </userSettings>
</configuration>